---

---

<div
	class="fixed inset-0 bg-[#010409] dark:bg-[#010409] z-[9999] flex items-center justify-center"
>
	<div class="text-center">
		<h2 id="hello-text" class="text-6xl font-bold text-white opacity-0">
			Hello<h2></h2>
		</h2>
	</div>
</div>
