---

---

<section class="px-6 bg-white dark:bg-[#010409] flex flex-row justify-center w-full">
	<section class="max-w-[1280px]  flex flex-row justify-between w-full">
	<div>
		<p class="text-black dark:text-white">
			©2024 Licensed under
			<a
				href="http://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1"
				target="_blank"
				rel="license noopener noreferrer"
				class="text-blue-600 underline"
			>
				Attribution-NonCommercial-ShareAlike 4.0 International.
			</a>
		</p>
	</div>
	<div>
		<a
			class="after:transition-width relative mx-[8px] inline-block cursor-pointer after:absolute after:bottom-0 after:left-1/2 after:h-[1px] after:w-0 after:translate-x-[-50%] after:bg-black after:duration-300 after:ease-in-out after:content-[''] hover:after:w-full dark:after:bg-white dark:text-white"
			aria-disabled="true">Contact</a
		>
	</div>
	</section>
</section>
