---
import SMLogo from "../../public/SMLogo.svg";
---

<nav class="p-4 px-10 bg-white shadow-lg flex flex-row justify-between">
	<img src={SMLogo.src} alt="Satanshu Mishra Logo" class="w-auto h-8" />
</nav>
