---
interface Props {
	name: string;
	website?: string;
	repo: string;
	preview: string;
}
const { name, website = null, repo, preview } = Astro.props;
---

<div>
	<div class="bg-black w-[30rem] h-[30rem]"></div>
	<div class="flex flex-row justify-between">
		<p
			class="h-14 min-h-14 py-5 text-[1.8rem] font-semibold text-black dark:text-white flex flex-row items-center"
		>
			{name}
		</p>
		<div
			class="flex flex-row justify-end items-center h-14 min-h-14 py-5 gap-2 text-[1.8rem]"
		>
			{website === "" && <i class="ri-external-link-fill" />}
			<i class="ri-github-fill"></i>
		</div>
	</div>
</div>
