---
import AnimatedButton from "../../ui/AnimatedButton.astro";
---

<section
	class="min-h-screen w-full p-10 flex flex-col justify-end items-start bg-blue-600 text-white"
>
	<h1 class="m-0 p-0 text-[18rem] leading-none">Satanshu Mishra</h1>
	<h3 class="m-0 p-0 text-[8rem] leading-none">Full Stack Developer</h3>
</section>
