---
---

<section
	class="flex flex-row justify-center items-center w-full bg-white dark:bg-[#010409] border-2 border-black border-dotted"
>
	<section class="w-screen h-screen flex flex-row py-52">
		<div class="flex flex-col items-start justify-center">
			<h1 class="font-bold text-7xl text-black dark:text-white">
				Satanshu Mishra
			</h1>
			<p
				id="skills-n-interests"
				class="h-14 min-h-14 py-5 text-[1.8rem] font-semibold text-black dark:text-white flex flex-row items-center"
			>
			</p>
			<p
				class="max-w-[70%] py-5 text-left text-[1.4rem] font-normal text-black dark:text-white"
			>
				👋 Thanks for dropping by! I'm Satanshu Mishra. Driven by
				curiosity, I explore new technologies to create accessible and
				impactful software solutions.
			</p>
			<div class="flex flex-row items-end justify-center text-4xl gap-4">
				<a
					class="transition-all duration-200 ease-in-out hover:text-black dark:text-white dark:hover:text-gray-300"
					href="https://github.com/SatanshuMishra"
					target="_blank"
					><i aria-label="GitHub" class="ri-github-fill"></i></a
				>
				<a
					class="duration-200 ease-in-out hover:text-black dark:text-white dark:hover:text-gray-300"
					href="https://www.linkedin.com/in/satanshumishra/"
					target="_blank"
					><i aria-label="LinkedIn" class="ri-linkedin-box-fill"
					></i></a
				>
				<a
					class="duration-200 ease-in-out hover:text-black dark:text-white dark:hover:text-gray-300"
					href="https://bsky.app/profile/satanshumishra.bsky.social"
					target="_blank"
					><i aria-label="Bluesky" class="ri-bluesky-fill"></i></a
				>
			</div>
			<a
				href="https://drive.google.com/file/d/1iXpb7dG6iTVUUENyHGTDQwly_FEMg0yP/view?usp=drive_link"
				target="_blank"
				><div
					class="my-5 rounded-md border-[1px] bg-white p-2 text-black transition-all duration-500 hover:cursor-pointer hover:bg-[#343a40] hover:text-white dark:border-white dark:text-white dark:bg-transparent dark:hover:bg-white dark:hover:text-black"
				>
					<p>Curriculum Vitae</p>
				</div>
			</a>
		</div>
	</section>
</section>

<script>
	import Typed from "typed.js";
	let typed = new Typed("#skills-n-interests", {
		strings: [
			"SOFTWARE DEVELOPER",
			"CYBERSECURITY ENTHUSIAST",
			"SPACE AFICIONADO",
		],
		typeSpeed: 40,
		backSpeed: 40,
		smartBackspace: true,
		backDelay: 2000,
		shuffle: false,
		loop: true,
		loopCount: Infinity,
		showCursor: false,
	});
</script>
