---

---

<section
	class="flex flex-row justify-center items-start w-full bg-white dark:bg-[#010409] border-2 border-black border-dotted"
>
	<section class="w-screen h-screen">
		<div class="py-10">
			<h1 class="font-bold text-6xl text-black dark:text-white">
				Finding Solutions for real-world problems
			</h1>
			<p
				class="max-w-[70%] py-5 text-left text-[1.4rem] font-normal text-black dark:text-white"
			>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Suspendisse varius enim in eros elementum tristique. ‍ Nam ipsum
				risus rutrum vitae vestibulum eu molestie vel, lacus. Praesent
				vestibulum dapibus nibh praesent egestas neque eu enim. Morbi
				mattis ullamcorper velit.
			</p>
		</div>
		<div class="bg-black w-[45rem] h-[25rem]"></div>
	</section>
	<section>
		<div class="bg-black w-[30rem] h-[35rem]"></div>
	</section>
</section>
