---
import Navigation from "../components/NavigationBlog.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class={"dark bg-white dark:bg-[#121212]"}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />

		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navigation>
			<ThemeToggle />
		</Navigation>
		<slot />
		<Footer />
	</body>
</html>
<script>
	const theme = (() => {
		if (
			typeof localStorage !== "undefined" &&
			localStorage.getItem("theme")
		) {
			return localStorage.getItem("theme");
		}
		if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
			return "dark";
		}
		return "light";
	})();

	if (theme === "light") {
		document.querySelector("html")?.classList.toggle("dark");
	} else {
		document.documentElement
			.querySelector("html")
			?.classList.toggle("dark");
	}

	const manageDarkLight = () => {
		if (document.querySelector("html")?.classList.contains("dark")) {
			document
				.querySelector("#toggleIcon")
				?.classList.replace("ri-sun-fill", "ri-moon-fill");
			(document.querySelector("#SMLogo") as any).src =
				"../../public/SMLogoW.svg";
		} else {
			document
				.querySelector("#toggleIcon")
				?.classList.replace("ri-moon-fill", "ri-sun-fill");
			(document.querySelector("#SMLogo") as any).src =
				"../../public/SMLogo.svg";
		}
	};

	document.addEventListener("DOMContentLoaded", () => {
		manageDarkLight();
		document
			.querySelector(".themeToggle")
			?.addEventListener("click", () => {
				document.querySelector("html")?.classList.toggle("dark");
				manageDarkLight();
			});
	});
</script>
<style>
	@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&family=Open+Sans:wdth,wght@75..100,300..800&display=swap");
	.open-sans-<uniquifier > {
		font-family: "Open Sans", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
		font-variation-settings: "wdth" <width>;
	}
	.nunito-<uniquifier > {
		font-family: "Nunito", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}
	* {
		font-family: "Open Sans";
	}
</style>
