---
type Props = {
	animationClass?: string;
};

const { animationClass = "" }: Props = Astro.props;
---

<h1
	class={`${animationClass && "opacity-0 translate-y-[-50px]"} font-bold text-6xl text-black dark:text-white py-10`}
>
	<slot />
</h1>
